<!DOCTYPE html>
{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

<html>

<head>
	
{% block title_block %}
    Add Comment
{% endblock %}

</head>

<body>

	<form id="comment_form" method="post" action="{% url 'cycle_angelo:add_comment' post.slug %}">

		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
		    {{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
		    {{ field.errors }}
		    {{ field.help_text }}
		    {{ field }}
		{% endfor %}

		<input type="submit" name="submit" value="Create Comment" />

<a href="{% url 'cycle_angelo:index' %}">Home</a> <br/>

</body>


</html>