<!DOCTYPE html>
{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

<html>

<head>
	
{% block title_block %}
    Add Post
{% endblock %}

</head>

<body>

	{% block sub_heading %}
            Create a post, {{ user.username }}!
        {% endblock %}

	{% block body_block %}
		<div class="container">
			<div class="row">
				<form role="form" id="page_form" method="post"
				action="/cycle_angelo/add_post/">

					{% csrf_token %}

					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}

					{% for field in form.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}<br />
						{{ field }}<br />
						<div class="p-2"></div>
					{% endfor %}
					<br />
					<button class="btn btn-primary" type="submit" name="submit">
					Create Post
					</button>

					<div class="p-5"></div>
				</form>
			</div>
	</div>

    {% endblock %}
</body>


</html>