<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <link rel="icon" href="{% static 'images/house_and_bike.png' %}">
    <title> Cycle Angelo </title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" type ='text/css' href="{% static 'cycle_angelo_css.css' %}">

    </head>

    <body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div id="dismiss">
                        <span data-feather="arrow-left"></span>
                    </div>
                    <div class="sidebar-sticky">
                        {% block sidebar_block %}
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'cycle_angelo:index' %}">
                                        <span data-feather="home"></span>
                                        Home
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'cycle_angelo:contact_us' %}">
                                        <span data-feather="phone"></span>
                                        Contact Us
                                    </a>
                                </li>
                            </ul>


                            {% if user.is_authenticated %}
                            <li class="divider"></li>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'cycle_angelo:add_post' %}">
                                        <span data-feather="file-minus"></span>
                                        Create a post
                                    </a>
                                </li>
                            </ul>

                            <li class="divider"></li>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'cycle_angelo:profile' user.username %}">
                                        <span data-feather="user"></span>
                                        My Profile
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'auth_password_change' %}">
                                        <span data-feather="unlock"></span>
                                        Change Password
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'auth_logout' %}?next={% url 'cycle_angelo:index' %}">
                                        <span data-feather="log-out"></span>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                            {% else %}

                            <li class="divider"></li>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'auth_login' %}">
                                        <span data-feather="log-in"></span>
                                        Log In
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'registration_register' %}">
                                        <span data-feather="file-text"></span>
                                        Register
                                    </a>
                                </li>
                            </ul>

                            {% endif %}


                        {% endblock %}
                    </div>
                </nav>

                <main role="main" class="col pl-2 pt-2">
                    <header>
                        <div id="content" style="background-color: #aacaf0">
                        <nav class="navbar navbar-light shadow mb-4 topbar static-top" style="background-color: #aacaf0">
                            <div class="container-fluid" style="background-color: #aacaf0">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span data-feather="menu"></span>
                        </button>

                            </div>
                        </nav>
                        </div>

                    </header>

                    <nav class="navbar navbar-light shadow mb-4 topbar static-top" style="background-color: #aacaf0">
                    <div class="container-fluid"><button class="btn btn-link link-primary d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><img src="{% static 'images/house_and_bike.png' %}" width="50" height="50"><span class="fs-2 text-dark"><h1>Cycle Angelo</h1></span><img src="{% static 'images/chainring.png' %}" width="50" height="50"></div>
                    </nav>
                    <div id ="chain_line"></div>

                    <div class="jumbotron p-4">
                        <div class="container">
                            <h1 class="jumbotron-heading">
                                {% block sub_heading %}
                                Base Template
                                {% endblock %}
                            </h1>
                        </div>
                    </div>

                    <div id="body_block" style="background-color: #aacaf0">
                        {% block body_block %}
                        {% endblock %}
                    </div>


                    <!-- FOOTER -->
                    <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>@ Cycle Angelo 2022</span></div>
                    </div>
                    </footer>

                </main>
            </div>
        </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="{% static 'sidebar.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
    </body>
</html>