<!DOCTYPE html>
{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

<html>

<head>

	<style>
		
		#posts{
			text-align: right;
			color: red;


		}

	</style>
	
{% block title_block %}
    Index
{% endblock %}

</head>

<body>
	{% block sub_heading %}
		Home Page
	{% endblock %}
	{% if user.is_authenticated %}
	Welcome back {{ user.username }}! <br />
	{% endif %}


{% block body_block %}
<div id="posts">
    <h2 style="text-align: center;">Top Posts on Cycle Angelo:</h2>
	<ul>
        {% for post in posts %}
            <li>
            <a href="{% url 'cycle_angelo:show_post' post.slug %}">{{post.creator}} says: {{ post.content }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</body>
</html>