<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

<html>

<head>
	
	<title>Cycle Angelo - Index</title>

</head>

<body>
	
	<h1>Cycle Angelo Home Page</h1>
	{% if user.is_authenticated %}
	Welcome back {{ user.username }}! <br />
	<a href = "{% url 'cycle_angelo:add_post' %}">Create a post</a>
	<a href="{% url 'cycle_angelo:logout' %}">Logout</a> 
	{% endif %}
	<a href = "{% url 'cycle_angelo:register' %}">Register</a>
	<a href = "{% url 'cycle_angelo:login' %}">Login</a>

    <h2>New Posts on Cycle Angelo</h2>
	<ul>
        {% for post in posts %}
            <li>
            <a href="{% url 'cycle_angelo:show_post' post.slug %}">{{ post.content }}</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>