<!DOCTYPE html>
{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

<html>

<head>
	{% block title %}
		{% if post %}
			{{post.creator}}'s Post
		{% else %}
			Unknown Post
		{% endif %}
	{% endblock %}
</head>

<body>

	{% block sub_heading %}

	Welcome to {{post.creator}}'s new post!


	{% endblock %}



	{% block body_block %}
	<div id="unique_post">
		{% if post %}
			<br />
		    	<h2 id="post_title"><u>{{ post.title }}</u></h1>
		    	<p id="post_content">{{ post.content }}</p>


</div>

<div id="unique_post_comments">


		    {% if comments %}
		    <br />
		        <h2 id="comment_title"><u>Comments</u></h2>    
		        <ul id="post_comments">
		        	{% for comment in comments %}
		        	<li>{{ comment.content }}</li>
		        	{% endfor %}
		        	
		        </ul>
		    {% else %}
		        <strong> No comments currently on this post.</strong>
		    {% endif %}

		    {% if user.is_authenticated %}
		        <a href="{% url 'cycle_angelo:add_comment' post.slug %}" id="comment_link">Add Comment</a> <br/>
		    {% endif %}

		    
		{% else %}
		    The post you are looking for does not exist.
			<a href="{% url 'cycle_angelo:index' %}">Return to the home page</a>
		{% endif %}

	</div>

	{% endblock %}
</body>
</html>

	