<!DOCTYPE html>
{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

<html>

<head>
	{% block title %}
		{% if post %}
			{{post.creator}}'s Post
		{% else %}
			Unknown Post
		{% endif %}
	{% endblock %}
</head>

<body>
	{% block body_block %}
	<div>
		{% if post %}
			{% if post.content %}
		    	<h1>{{ post.content }}</h1>
			{% endif %}
			{% if post.image %}
				<img src="{{ MEDIA_URL }}{{ post.image }}"
				width ="300"
				height="200"
				alt="{{ post.creator }}'s image for the post" />
			{% endif %}
		    {% if comments %}
		        <h2><u>Comments</u></h2>
		        <ul>
		        	{% for comment in comments %}
		        	<li>{{ comment.content }}</li>
		        	{% endfor %}
		        </ul>
		    {% else %}
		        <strong> No comments currently on this post.</strong>
		    {% endif %}
		    {% if user.is_authenticated %}
		    <a href="{% url 'cycle_angelo:add_comment' post.slug %}">Add Comment</a> <br/>
		    {% endif %}
		{% else %}
		    The post you are looking for does not exist.
			<a href="{% url 'cycle_angelo:index' %}">Return to the home page</a>
		{% endif %}
	</div>

	{% endblock %}
</body>
</html>

	