{% extends 'cycle_angelo/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register - Set up your profile
{% endblock %}

{% block sub_heading %}
Register - Step 2
{% endblock %}

{% block body_block %}

 <div class="container">
    <div class="row">
        <form method="post"
              action="{% url 'cycle_angelo:register_profile' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Profile" />
         </form>
    </div>
 </div>
{% endblock %}