<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
            {% if user.is_authenticated %}
                howdy {{ user.username }}!<br />
            {% else %}
                hey there partner!<br />
            {% endif %}
            <strong>{{ boldmessage }}</strong>
        </div>

        <div>
        <h2>Top Posts</h2>
        {% if posts %}
            <ul>
                {% for post in posts %}
                <li>
                    <a href="{% url 'rango:show_category' category.slug %}">{{post.creator}} says: {{ post.text }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
{% endblock %}