<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block sub_heading %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if comments %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ post.creator }}: {{ post.text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No comments currently in this post.</strong>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'rango:add_comment' category.slug %}">Add a Comment</a><br />
    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}