<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block sub_heading %}
    Register for CycleAngelo
{% endblock%}

{% block body_block %}
    {% if registered %}
        <strong>Thank you for registering with Cycle Angelo!</strong> <br />
	    <a href="{% url 'cycle_angelo:index' %}">Return to the home page</a>
    {% else %}
        Register for CycleAngelo <strong>here!</strong>
        <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}