
/*For base template*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Open+Sans&display=swap');

            body{
                font-family: 'IBM Plex Sans Arabic', sans-serif;
                font-family: 'Open Sans', sans-serif;
        		background-color: #aacaf0;
        	}

            p{
                font-family: 'IBM Plex Sans Arabic', sans-serif;
                font-size: 1.1em;
                font-weight: 400;
                line-height: 1.7em;
            }

            #a{

            }

            #chain_line{
            	display: block;
            	height: 20px;
            	width: 100%;
            	background-image: url(images/chain_v2.png);
                background-repeat: repeat-x;
            }

            .wrapper{
                width: 100%;
                align-items: stretch;
                display: flex;
            }

            #sidebar{
                width: 250px;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                z-index: 999;
                background: #ced4de;
                color: #aacaf0;
                transition: all 0.3s;
            }

            #sidebar.active{
                margin-left: -250px;
            }

            @media (min-width: 768px) {
                #sidebar{
                    margin-left: -250px;
                }

                #sidebar.active{
                    margin-left: 0;
                }
            }

            #sub_heading{
                padding: 2em 2em 2em 2em;
            	display: block;
            	margin: auto;
                font-size: 25px;
                background-color: #aacaf0;
            }


        main {
          padding: 40px 25px;
          transition: .5s ease-in-out;
          width: 100%;
        }

        #sidebar.active:focus ~ main {
          margin-left: 17rem;
          transition-delay: .25s;
            }

        #space{
                padding: 1em 1em 1em 1em;
            }

        #index_posts{
            width: 75%;
            display: inline;
            float:  left;
        }

        #index_posts ul {

            height: 40vh;
            overflow-y: scroll;
            background-color: #fbfbfb ;
            width: 75%;
        }

        #index_posts ul li{
            list-style-type: none;
            font-size: 13px;
            margin-bottom: 5px;
        }

        /*For profile page*/

        #profile_image {
            display: inline;
            float: right;
            width: 50%;
            float: left;
        }

        #profile_img{
            height: 10vh;
            width: 10vh;
        }

        #user_post{
            background-color: #ced4de;
        }

        /*For individual post page*/

        #comments{
             display: inline;
        }

        #comments ul{
            overflow-y: scroll;
            width:100%;
        }

        #comments li{
            list-style-type: none;
        }


        /*For login page*/
        #login_input{
            align-self: flex-start;
        }
