
/*For base template*/

            body{
        		background-color: #ced4de;
        	}

            #chain_line{
            	display: block;
            	height: 20px;
            	width: 100%;
            	background-image: url(images/chain_v2.png);
                background-repeat: repeat-x;
            }

            .navbar
            .sidebar {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                padding: 58px 0 0; /* Height of navbar */
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
                width: 180px;
                z-index: 600;
                background-color: #aacaf0;
            }

            @media (min-width: 768px) {
                .main {
            padding-right: 40px;
            padding-left: 220px; /* 180 + 40 */
                }
            }

            .sidebar .active {
                border-radius: 5px;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            }

            .sidebar-sticky {
                position: relative;
                top: 0;
                height: calc(100vh - 48px);
                padding-top: 0.5rem;
                overflow-x: hidden;
                overflow-y: auto;
            }

            #sub_heading{
                padding: 2em 2em 2em 2em;
            	display: block;
            	margin: auto;
                font-size: 25px;
                background-color: #aacaf0;
            }
        #body_block{
            background-color: #aacaf0;
            padding: 2em 2em 2em 2em;
        }
        #space{
                padding: 2em 2em 2em 2em;
            }

        #index_posts{
            width: 75%;
            display: inline;
            float:  left;
        }

        #index_posts ul {

            height: 40vh;
            overflow-y: scroll;
            background-color: #fbfbfb ;
            width: 75%;
        }

        #index_posts ul li{
            list-style-type: none;
            font-size: 13px;
            margin-bottom: 5px;
        }

        /*For profile page*/

        #profile_picture {
            display: inline;
            float: right;
            width: 50%;
            float: left;
        }

        #profile_picture img{
            margin-left: 10px ;
            margin-top: 10px ;
        }

        /*For individual post page*/

        #post_content{
            font-size: 19px;
            margin-left: 25px;
            height: 60vh;
            width: 75%;
        }
        #post_content p{
            margin-top: 20px;
            margin-left: 10px;
        }
        #post_title{
            font-size: 25px;
            margin:  auto;
            margin-left: 25px;
        }

        #comment_title{
            display: inline;
            margin-top: 10%;
        }
        #comment_link{
            margin-left: 33%;
            text-align: center;
        }